doctype html
html(lang="en")
    head
        title Page title
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description" content="")
        meta(name="author" content="")
        link(rel="stylesheet" href="css/bootstrap/bootstrap-theme.css")
        link(rel="icon" href="favicon.ico")
    body
        .container-fluid


            .form-group
                label(for="" ) Label for text
                input(type="text" name="field-name" class="form-control" placeholder="Write a text" )

            section.py-5
                .container.text-center
                    strong The New Internet
                    h1.display-4.my-3 We've built a decentralized internet where information is totally free
                    a.btn.btn-link.my-2(href="#") Read more &raquo;

            section.py-5
                .container
                    h2.text-center Decentralized, secure, private.
                    .d-flex.justify-content-center.my-4
                        img.mx-1(src="placeholder/icons/unicorn.svg", alt="")
                        img.mx-1(src="placeholder/icons/unicorn.svg", alt="")
                        img.mx-1(src="placeholder/icons/unicorn.svg", alt="")
                    p Our mission is not to outsell Hooli with a product like their latest Box 3. We are not in it for the money - we are in it to make the whole world decentralized. To give you control over your data. To change by the internet as we know it by integrating a very important feature into it - freedom.

            section.py-5
                .container
                    h2.mb-5 Great Companies that already use PiperNet
                    .row

                        .col-md-9
                            img.img-fluid(src="https://bootstrapshuffle.com/placeholder/pictures/bg_4-3.svg?primary=007bff", alt="")
                        .col-md-3
                            .row.flex-row.flex-md-column.justify-content-between.mt-4.mt-md-0
                                .col-4.col-md-12
                                    img.img-fluid(src="https://bootstrapshuffle.com/placeholder/pictures/bg_4-3.svg?primary=007bff", alt="")
                                .col-4.col-md-12.my-md-4
                                    img.img-fluid(src="https://bootstrapshuffle.com/placeholder/pictures/bg_4-3.svg?primary=007bff", alt="")
                                .col-4.col-md-12
                                    img.img-fluid(src="https://bootstrapshuffle.com/placeholder/pictures/bg_4-3.svg?primary=007bff", alt="")

                        .col-md-6.mt-5
                            h3 Client: K-Hole
                            p.lead We are constantly looking for new partners to migrate onto the Piper Net. The future of the internet is here - venture towards it with Pied Piper!


        script(src="js/jquery/jquery.min.js")
        script(src="js/popper/popper.min.js")
        script(src="js/bootstrap/bootstrap.min.js")
